[submodule "2_threaded_server"]
	path = 2_threaded_server
	url = https://github.com/VladimirAndropov/2_threaded_server.git
[submodule "1_echo_server"]
	path = 1_echo_server
	url = https://github.com/VladimirAndropov/1_echo_server.git
[submodule "6_Web_server"]
	path = 6_Web_server
	url = https://github.com/VladimirAndropov/6_Web_server
[submodule "pi22-1/Yak"]
	path = pi22-1/Yak
	url = https://github.com/YakimkinDaniil/Yak
[submodule "pi22-1/Ivlev"]
	path = pi22-1/Ivlev
	url = https://github.com/Ivlev2004/Ivlev
[submodule "pi22-1/MAS"]
	path = pi22-1/MAS
	url = https://github.com/NastyMishina/MAS
[submodule "pi22-1/Man"]
	path = pi22-1/Man
	url = https://github.com/Kami11144/Man
[submodule "pi22-1/Giz"]
	path = pi22-1/Giz
	url = https://github.com/Butcher044/Giz
[submodule "pi22-1/Nec"]
	path = pi22-1/Nec
	url = https://github.com/lilitanechay/Nec
[submodule "pi22-1/Gra"]
	path = pi22-1/Gra
	url = https://github.com/GrankoNastya/Gra
[submodule "pi22-1/Gri"]
	path = pi22-1/Gri
	url = https://github.com/IamHenryEvery/Gri
[submodule "pi22-1/Nik"]
	path = pi22-1/Nik
	url = https://github.com/NikitinAnton/Nik
[submodule "pi22-1/boch"]
	path = pi22-1/boch
	url = https://github.com/OlgaBochagina/boch
[submodule "pi22-1/Pech"]
	path = pi22-1/Pech
	url = https://github.com/k1llRe4l/Pech
[submodule "pi22-2/TRUN"]
	path = pi22-2/TRUN
	url = https://github.com/JuanTrunov/TRUN
[submodule "pi22-2/Mash"]
	path = pi22-2/Mash
	url = https://github.com/10nesse/Mash
[submodule "pi22-2/erm"]
	path = pi22-2/erm
	url = https://github.com/vladermik/erm
[submodule "pi22-2/pavliuk"]
	path = pi22-2/pavliuk
	url = https://github.com/yeeeyoooduck/pavliuk
[submodule "pi22-2/kly"]
	path = pi22-2/kly
	url = https://github.com/Gidr0n/kly
[submodule "pi22-2/Chetyrkina"]
	path = pi22-2/Chetyrkina
	url = https://github.com/mariiachet/Chetyrkina
[submodule "pi22-2/btd"]
	path = pi22-2/btd
	url = https://github.com/TanyaBabkina/btd
[submodule "pi22-2/OAI"]
	path = pi22-2/OAI
	url = https://github.com/teenee0/OAI
[submodule "pi22-2/Mor"]
	path = pi22-2/Mor
	url = https://github.com/Alyona544/Mor
[submodule "pi22-2/Aki"]
	path = pi22-2/Aki
	url = https://github.com/Arsenoid/Aki.git
[submodule "pi22-2/Git-ovchinnikovPA"]
	path = pi22-2/Git-ovchinnikovPA
	url = https://github.com/Kami1ot/Git-ovchinnikovPA
[submodule "pi22-2/kuk"]
	path = pi22-2/kuk
	url = https://github.com/hukamobeta/kuk.git
[submodule "pi22-2/DZY"]
	path = pi22-2/DZY
	url = https://github.com/osetter/DZY
[submodule "pi22-2/SER"]
	path = pi22-2/SER
	url = https://github.com/NasNasNas7631/SER
[submodule "pi22-2/Sam"]
	path = pi22-2/Sam
	url = https://github.com/GodWar101/Sam
[submodule "pi22-2/Khva"]
	path = pi22-2/Khva
	url = https://github.com/Anastas15/Khva
[submodule "pi22-2/proz"]
	path = pi22-2/proz
	url = https://github.com/Cpsuls/proz
[submodule "0_git_basics"]
	path = 0_git_basics
	url = https://github.com/VladimirAndropov/0_git_basics
[submodule "4_requests"]
	path = 4_requests
	url = https://github.com/VladimirAndropov/4_requests
[submodule "5_FTP_server"]
	path = 5_FTP_server
	url = https://github.com/VladimirAndropov/5_FTP_server.git
[submodule "pi22-3/Kol"]
	path = pi22-3/Kol
	url = https://github.com/KolchevaAngelina/Kol
[submodule "pi22-3/BES-fa-np-practice"]
	path = pi22-3/BES-fa-np-practice
	url = https://github.com/angelinabespalaya/BES-fa-np-practice
[submodule "pi22-3/HOD"]
	path = pi22-3/HOD
	url = https://github.com/alexsandr111/HOD
[submodule "pi22-3/Pro"]
	path = pi22-3/Pro
	url = https://github.com/ilyardi/Pro
[submodule "pi22-3/GAEV"]
	path = pi22-3/GAEV
	url = https://github.com/gaevskayakaterina/GAEV
[submodule "pi22-3/Tumk"]
	path = pi22-3/Tumk
	url = https://github.com/An1stasia/Tumk
[submodule "pi22-3/Ermo"]
	path = pi22-3/Ermo
	url = https://github.com/gavalone/Ermo
[submodule "pi22-3/Tran"]
	path = pi22-3/Tran
	url = https://github.com/ErWor/Tran
[submodule "pi22-3/But"]
	path = pi22-3/But
	url = https://github.com/IlyaButkevich/But
[submodule "pi22-3/Kras"]
	path = pi22-3/Kras
	url = https://github.com/ksyashaaa/Kras
[submodule "pi22-3/Beloglazovaa"]
	path = pi22-3/Beloglazovaa
	url = https://github.com/Beloglazovaaa/Beloglazovaa
[submodule "pi22-3/ALY"]
	path = pi22-3/ALY
	url = https://github.com/tatarsoul/ALY
[submodule "pi22-3/Gus-fa-np-practice"]
	path = pi22-3/Gus-fa-np-practice
	url = https://github.com/Anzhelika-pi22-4/Gus-fa-np-practice
[submodule "pi22-3/Val"]
	path = pi22-3/Val
	url = https://github.com/Athlesoth/Val
[submodule "pi22-3/Pav"]
	path = pi22-3/Pav
	url = https://github.com/TeamUs/Pav
[submodule "pi22-3/Tit"]
	path = pi22-3/Tit
	url = https://github.com/SemyonTitov22/Tit
[submodule "pi22-3/pi22-3-KRU"]
	path = pi22-3/pi22-3-KRU
	url = https://github.com/cram0s/pi22-3-KRU
[submodule "pi22-3/MEK"]
	path = pi22-3/MEK
	url = https://github.com/juliamekh/MEK
[submodule "pi22-4/Sob"]
	path = pi22-4/Sob
	url = https://github.com/dane4k/Sob
[submodule "pi22-4/Dzhu"]
	path = pi22-4/Dzhu
	url = https://github.com/jumayev004/Dzhu
[submodule "pi22-4/Krugl"]
	path = pi22-4/Krugl
	url = https://github.com/flamingo99900/Krugl
[submodule "pi22-4/Gorn"]
	path = pi22-4/Gorn
	url = https://github.com/garnett22/Gorn
[submodule "pi22-4/Anto"]
	path = pi22-4/Anto
	url = https://github.com/AliceAnd0/Anto
[submodule "pi22-4/Nani"]
	path = pi22-4/Nani
	url = https://github.com/NafaNaniz/Nani
[submodule "pi22-4/Tyut"]
	path = pi22-4/Tyut
	url = https://github.com/polinatut/Tyut
[submodule "pi22-4/Syar"]
	path = pi22-4/Syar
	url = https://github.com/Delia0001/Syar
[submodule "pi22-4/deg"]
	path = pi22-4/deg
	url = https://github.com/dariadegt/deg
[submodule "pi22-4/Miro"]
	path = pi22-4/Miro
	url = https://github.com/mirrrler/Miro
[submodule "pi22-4/Abga"]
	path = pi22-4/Abga
	url = https://github.com/CryingDemon89/Abga
[submodule "pi22-4/Kon"]
	path = pi22-4/Kon
	url = https://github.com/itsvakonst/Kon
[submodule "pi22-4/Bush"]
	path = pi22-4/Bush
	url = https://github.com/bshkrrr/Bush
[submodule "pi22-4/Kurb"]
	path = pi22-4/Kurb
	url = https://github.com/Kurbanov04/Kurb
[submodule "pi22-4/Zhab"]
	path = pi22-4/Zhab
	url = https://github.com/Katerina0088/Zhab
[submodule "pi22-4/pet"]
	path = pi22-4/pet
	url = https://github.com/Aleksandra-17/pet
[submodule "pi22-4/Tran"]
	path = pi22-4/Tran
	url = https://github.com/manhtran22/Tran
[submodule "pi22-4/Chu"]
	path = pi22-4/Chu
	url = https://github.com/MaximChudaaov/Chu
[submodule "pi22-4/Usa-fa-np-practice"]
	path = pi22-4/Usa-fa-np-practice
	url = https://github.com/Alina-Usacheva/Usa-fa-np-practice
[submodule "pi22-4/puti"]
	path = pi22-4/puti
	url = https://github.com/GlebPutintsev/puti
[submodule "pi22-4/ersh"]
	path = pi22-4/ersh
	url = https://github.com/slavaeee/ersh
[submodule "pi22-4/Ilya"]
	path = pi22-4/Ilya
	url = https://github.com/Ilyawysy/Ilya
[submodule "pi22-4/urlova"]
	path = pi22-4/urlova
	url = https://github.com/Eliaveta88/urlova
[submodule "temp/6_Web_server"]
	path = temp/6_Web_server
	url = https://github.com/VladimirAndropov/6_Web_server
[submodule "pi22-3/Kas"]
	path = pi22-3/Kas
	url = https://github.com/MashaK04/Kas/
[submodule "pi22-4/boikova"]
	path = pi22-4/boikova
	url = https://github.com/boikova2604/boikova
